* { /*seletor universal*/
    box-sizing: border-box;
}

body {
    width: 100vw;
    box-sizing: border-box;
    margin: 0 auto;  
    background-image: url(./images/background.png);
}

#container {
    width: 80vw;
}

header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7A17FF;
    border-right: 6px solid #9040f8;
    border-bottom: 6px solid #9040f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 5px;
}

header img {
    max-height: 80%;
    margin: auto 0;
    color: white;

}

.link-cabecalho {
    font-family: "VT323", monospace;
    font-weight: 400px;
    font-size: 35px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 15px
}

header a:hover {
    background-color: #ac6cff;
    box-shadow: 2px 2px 2px 2px #8a32fd;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    font-family: "Atkinson Hyperlegible", sans-serif;
    resize: vertical;
    width: 80%;
    max-width: 900px;
    height: 250px;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 2px 2px #8a32fd;
}

textarea:hover {
    transform: translateY(-5px);
}

#post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.campos-topo {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.campo {
    display: flex;
    align-items: center
}

#historias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
    padding-bottom: 50px;
}

.artigo {
    width: 70%;
    max-width: 750px;
    background-color: rgba(255, 255, 255, 0.96);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px, 8px, 20px, rgba(0, 0, 0, 0.15);
    border-left: 6pxpx solid #716088;
    transition: 0.2s ease;
    margin-bottom: 20px;
}

.artigo:hover {
    transform: translateY(-5px);
}

.artigo-topo h2 {
    margin: 0;
    font-size: 42px;
    font-family: "VT323", monospace;
    color: #7A17FF
}

.autor {
    margin-top: 10px;
    font-size: 15px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.artigo-conteudo {
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin-top: 25px;
    font-size: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*line-height: 1.9;
    color: #222;
    width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;*/
}

.modal-conteudo {
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.9;
    color: #222;
    width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

button {
    height: 25px;
    width: 200px;
    margin-top: 0 auto;
    background-color: white;
    backdrop-filter: blur(8px);
    border: none;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 2px 2px #8a32fd;
}

button:hover {
    background-color: #ac6cff;
    border-right: 4px solid #ac6cff;
    border-bottom: 4px solid #ac6cff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 5px;
}

dialog#modal::backdrop{
    border-radius: 5px;
    border: none;
    background-color: #5e594eaa;
}

dialog#modal-content{
    background-color: #f4ecd8;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

@media (max-width: 600px) {
    header {
        background-image: url(./images/background.png);
        height: auto;
        min-height: 80px;
        border: none;
        padding: 10px;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    header img {
        max-height: 40px;
    }

    .link-cabecalho {
        font-size: 24px;
        max-height: none;
        max-width: none;
    }

    #post-form {
        width: 100%;
        padding: 10px;
    }

    .campos-topo {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .campo {
        width: 100%;
        max-width: 350px;
    }

    .campo input {
        width: 100%;
    }

    textarea {
        width: 95%;
        height: 250px;
    }

    button {
        width: 200px;
        height: 45px;
    }

    main section {
        min-width: 300px;
    }

    .artigo {
    width: 90%;
    max-width: 750px;
    background-color: rgba(255, 255, 255, 0.96);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px, 8px, 20px, rgba(0, 0, 0, 0.15);
    border-left: 6pxpx solid #716088;
    transition: 0.2s ease;
    margin-bottom: 20px;
    overflow: hidden;
}

}