* { /*seletor universal*/
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;  
    background-image: url(./images/background.png);
    background-size: cover; /*escala uma imagem de fundo para ser a menor possível, garantindo que todo o contêiner seja coberto*/
    background-position: center;
    background-attachment: fixed;
}

#container {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7A17FF;
    border-right: 6px solid #9040f8;
    border-bottom: 6px solid #9040f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 5px;
}

header img {
    max-height: 80%;
    margin: auto 0;
    color: white;

}

.link-cabecalho {
    font-family: "VT323", monospace;
    font-weight: 400px;
    font-size: 35px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 15px
}

header a:hover {
    background-color: #ac6cff;
    box-shadow: 2px 2px 2px 2px #8a32fd;
}


#container section {
    width: 100vw;
    min-height: 92vh;

    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 80px;

    padding: 40px;
}

/* TEXTO */

.texto {
    
    display: flex;
    flex-direction: column;

    max-width: 900px;

    color: white;

    font-family: sans-serif;

    gap: 15px;
}

.texto p {
    margin-top: 0;
    font-size: 22px;
    line-height: 1.5;

    opacity: 0;
    

    animation-name: fadeTexto;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /*background-color: #6c0eff;*/
    border-radius: 6px;
    padding-left: 10px;
    font-weight: bold;
    /*border: 1px, solid white;*/
}

.texto h1 {
    font-size: 55px;
    margin: 0;

    color: #ffffff;

    text-shadow: 0 0 10px #ac6cff;
}

.texto h2 {
    font-size: 28px;
    margin: 0;

    color: #d6b7ff;
}

.footer-principal {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7A17FF; 
    border-top: 8px solid #8a32fd;
}

.link-footer {
    display: flex;
    text-decoration: none;
    color: white;
}

.footer-secundario {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7A17FF; 
    border-top: 4px solid #8a32fd;
}

.footer-secundario p {
    color: white;
    border: 1px solid white;
}

.footer-secundario h3 {
    color: white;
}

/* IMAGEM */

section img {
    width: 450px;
    max-width: 90%;
    height: auto;
    margin-top: -210px;
}

/* ANIMAÇÃO */

@keyframes fadeTexto {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.texto p:nth-child(1) {
    animation-delay: 0s;
}

.texto p:nth-child(2) {
    animation-delay: 2s;
}

.texto p:nth-child(3) {
    animation-delay: 4s;
}

.texto p:nth-child(4) {
    animation-delay: 6s;
}

/* MEDIA QUERY*/

@media (max-width: 600px) {
    header img {
        max-height: 82px;
    }
    .link-cabecalho {
        max-height: 82px;
        max-width: 75px;
    }
    #container section {
        max-height: 80px;
        max-width: 915px;
    }


    section img {
        display: none;
    }
    .texto p {
        margin-top: 35px;
        display: flex;
        flex-direction: initial;
        max-height: 80px
    }
    header {
        height: 120px;
        background-image: url(./images/background.png);
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-bottom-left-radius: transparent;
        border-bottom-right-radius: transparent;
        border-top-right-radius: transparent;
        border-top-left-radius: transparent;
        
    }
}
