* { /*seletor universal*/
    box-sizing: border-box;
}

body {
    width: 80vw;
    box-sizing: border-box;
    margin: 0 auto;   
}

#container {
    width: 80vw;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7A17FF;
    border-right: 6px solid #9040f8;
    border-bottom: 6px solid #9040f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 5px;
}

header img {
    max-height: 80%;
    margin: auto 0;
    color: white;

}

.link-cabecalho {
    font-family: "VT323", monospace;
    font-weight: 400px;
    font-size: 35px;
    text-decoration: none;
    color: white;
    border-radius: 15px
}

header a:hover {
    background-color: #ac6cff;
    box-shadow: 2px 2px 2px 2px #8a32fd;
}


#container section {
    width: 100%;
    min-height: 80vh;

    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    gap: 10px;

    padding: 40px 20px;
}

/* TEXTO */

section h1 {
    font-family: sans-serif;
    font-size: 25px;
    margin-top: -40;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px #ac6cff;;
    text-align: center;
}

h1 {
    overflow: hidden;
    white-space: nowrap;

    display: inline-block;

    animation: digitando 3.5s steps(29, end) infinite;
}

@keyframes digitando {
    from { width: 0 }
    to { width: 29ch; }
}


/* IMAGEM */

section img {
    width: 450px;
    max-width: 90%;
    height: auto;
    margin-top: -80px;
}

